<?xml version="1.0"?>
<config>
    <modules>
        <Practice_Controllertest>
            <version>0.0.1</version>
        </Practice_Controllertest>
    </modules>

    <frontend>
        <routers>
            <Practice_Controllertest>
                <use>standard</use>
                <args>
                    <module>Practice_Controllertest</module>
                    <frontName>requestflowtest</frontName>
                </args>
            </Practice_Controllertest>
        </routers>
    </frontend>
</config>
