<?xml version="1.0"?>
<config>
    <modules>
        <Practice_Controllercommunity>
            <version>1.0.0</version>
        </Practice_Controllercommunity>
    </modules>

    <frontend>
        <routers>
            <practice_controllercommunity>
                <use>standard</use>
                <args>
                    <module>Practice_Controllercommunity</module>
                    <frontName>controllercommunity</frontName>
                </args>
            </practice_controllercommunity>
        </routers>
    </frontend>
</config>